@import url("https://fonts.googleapis.com/css2?family=Port+Lligat+Slab&display=swap");

body {
    font-family: "Port Lligat Slab", serif;
}

@media screen and (min-width: 576px) {
    body {
        max-width: 50%;
        margin: auto;
    }

    .fixed-bottom {
        position: relative;
    }
}
